.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.navBarStyle {
  color: white;
 }

 .bgColorALA {
  background-color:#91993c;
 }

.titleSize {
  font-size: 22px
}

.contentSizeMed {
  font-size: 12px
}

.contentSizeLarge {
  font-size: 16px
}
