<ion-header>
  <ion-toolbar color="primary" class="titleSize">
      <img src="../assets/icons/icon-72x72.png"> &nbsp;&nbsp;&nbsp; ALA Staff App
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <!-- <br>
    &nbsp; &nbsp;  <img src="../assets/icons/icon-192x192.png"> -->
    <!-- <ion-card> 
      <ion-card-header class='navbarStyle'>
        <ion-card-subtitle color="warning">ALA Staff</ion-card-subtitle>
        <ion-card-title>Critical Information</ion-card-title>
      </ion-card-header>
      <ion-card-content class='navbarStyle'>
        <p>Event-specific Emergency Data</p>
      </ion-card-content>
    </ion-card> -->
<!--     <ion-card class="navBarStyle">
        
    </ion-card> -->


    <ion-card class="navBarStyle">
        <ion-card-header class='bgColorALA'>
            <ion-card-subtitle color="warning" class="contentSizeLarge">EMERGENCY PROCEDURE PHONE</ion-card-subtitle>
          </ion-card-header>
        <ion-card-content class='contentSizeMed bgColorALA'>
            <strong>Use your walkie talkie to contact Patty and/or Leslie (Hotel Staff)</strong> <BR><br>
          <strong>Hotel House Phone for security - 333</strong> <BR>
          (or dial 0 and ask for security) <BR>
          <strong>Public phones</strong> – automatically dial Operator <BR>
        </ion-card-content>
      </ion-card>
      <ion-card class="navBarStyle">
          <ion-card-header class='bgColorALA'>
            <ion-card-subtitle color="warning" class="contentSizeLarge">MEDICAL FACILITIES</ion-card-subtitle>
          </ion-card-header>
      </ion-card>
      <ion-card class="navBarStyle"> 
          <ion-card-content class='bgColorALA contentSizeMed' >
              <strong>BAYLOR REGIONAL MEDICAL CENTER @ GRAPEVINE</strong> <br>
              1650 College Street &nbsp; Grapevine, Texas &nbsp;  76051
              <br>
              EMERGENCY – 817-481-1588
          </ion-card-content>
        </ion-card>
        <ion-card class="navBarStyle"> 
            <ion-card-content class='bgColorALA contentSizeMed' >
                <strong>CARENOW EMERGENCY CARE CLINIC</strong> <br>
                2355 Grapevine Mills Circle E. &nbsp;&nbsp; Grapevine, Texas &nbsp;&nbsp;  76051
                <br>
                972-539-6330 <br>
                Monday-Friday:  8:00am-10:00pm<br>
      Saturdays:  8:00am-8:00pm<br>
      Sunday:    8:00am-5:00pm
            </ion-card-content>
          </ion-card>
          <ion-card class="navBarStyle"> 
              <ion-card-content class='bgColorALA contentSizeMed' >
                  <strong>FIRST CHOICE EMERGENCY ROOM</strong> <br>
                  5000 SH 121 &nbsp;&nbsp; Grapevine, Texas &nbsp;&nbsp;  76051
                  <br>
                  817-836-4003 <br>
                  24 Hours
              </ion-card-content>
            </ion-card>
            <ion-card class="navBarStyle">
                <ion-card-header class='bgColorALA'>
                  <ion-card-subtitle color="warning" class="contentSizeLarge">PHARMACIES</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
            <ion-card class="navBarStyle"> 
                <ion-card-content class='bgColorALA contentSizeMed' >
                    <strong>WALGREENS</strong> <br>
                    912 W. Northwest Hwy &nbsp;&nbsp; Grapevine, Texas &nbsp;&nbsp;  76051
                    <br>
                    817-310-3072 <br>
                    24 Hours <br>
                    Monday-Friday:  8:00am-10:00pm<br>
                    Saturdays:  9:00am-6:00pm<br>
                    Sunday:    10:00am-6:00pm
                </ion-card-content>
              </ion-card>
              <ion-card class="navBarStyle"> 
                  <ion-card-content class='bgColorALA contentSizeMed' >
                      <strong>CVS – 24 Hours</strong> <br>
                      100 W. Corporate Dr. &nbsp;&nbsp; Lewisville, Texas &nbsp;&nbsp;  75067
                      <br>
                      817-310-3072 <br>
                  </ion-card-content>
                </ion-card>
                <ion-card class="navBarStyle">
                    <ion-card-header class='bgColorALA'>
                        <ion-card-subtitle color="warning" class="contentSizeLarge">MEDICAL RESPONSE</ion-card-subtitle>
                      </ion-card-header>
                    <ion-card-content class='contentSizeMed bgColorALA'>
                      <strong>Outside Paramedics</strong> <BR>
                        If 9-1-1 is called, EMT/Fire Dept. will respond - approximately 5 minutes away (1 mile drive). <BR>
                          <strong>Outside Paramedics</strong> <BR>
                            Internal Response Teams (Security & EMT’s on Staff) respond to all alarms and 333 emergency calls. <BR>
                    </ion-card-content>
                  </ion-card>
                  <ion-card class="navBarStyle">
                      <ion-card-header class='bgColorALA'>
                          <ion-card-subtitle color="warning" class="contentSizeLarge">MEDICAL RESPONSE</ion-card-subtitle>
                        </ion-card-header>
                      <ion-card-content class='contentSizeMed bgColorALA'>
                        <strong>HOTEL ALARM SYSTEM</strong> <BR>
                          In the event that an alarm is activated, an announcement will be made via the hotel’s public 
                          address system regarding the situation and what action to take, if necessary.  
                          <br><br>
                          Please note that the fire department responds to all alarms, therefore, it is not unusual for them to be on property when an alarm is activated.  The hotel’s public address system is used only in emergency situations.<BR>
                      </ion-card-content>
                    </ion-card>

                    <ion-card class="navBarStyle">
                        <ion-card-header class='bgColorALA'>
                            <ion-card-subtitle color="warning" class="contentSizeLarge">ALA OFFICE: Dallas 6-7</ion-card-subtitle>
                          </ion-card-header>
                      </ion-card>                    

<!--     <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Link 1</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Another Link</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Link 3</ion-label>
      </ion-item>
              <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Four as well</ion-label>
      </ion-item> 
      

    </ion-list> -->

</ion-content>
